{% extends 'base.html' %}

{% block head_title %}Your Subscription - {{ block.super }}{% endblock head_title %}


{% block content %}
<h1 class="text-lg font-medium">Your Subscription</h1>
<form action="" method="POST">
    {% csrf_token %}
    <button type="submit">Refresh</button>
</form>

<a href="{% url 'user_subscription_cancel' %}">Cancel Membership</a>

<p>Plan name: {{ subscription.plan_name }}</p>
<p>Status: {{ subscription.status | title}}</p>
<p>Start: {{ subscription.current_period_start }}</p>
<p>End: {{ subscription.current_period_end |timeuntil }}( {{ subscription.current_period_end}} )</p>
{% endblock content %}